<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SearchSpring\Feed\Api\Data\TaskResultInterface"
                type="SearchSpring\Feed\Model\Data\TaskResult"/>
    <preference for="SearchSpring\Feed\Api\Data\TaskInterface"
                type="SearchSpring\Feed\Model\Task"/>
    <preference for="SearchSpring\Feed\Api\Data\TaskErrorInterface"
                type="SearchSpring\Feed\Model\Data\TaskError"/>
    <preference for="SearchSpring\Feed\Api\Data\TaskSearchResultsInterface"
                type="SearchSpring\Feed\Model\TaskSearchResults"/>
    <preference for="SearchSpring\Feed\Api\Data\FeedInterface"
                type="SearchSpring\Feed\Model\Feed"/>
    <preference for="SearchSpring\Feed\Api\Data\FeedSearchResultsInterface"
                type="SearchSpring\Feed\Model\FeedSearchResults"/>
    <preference for="SearchSpring\Feed\Api\Data\FeedSpecificationInterface"
                type="SearchSpring\Feed\Model\Feed\Specification\Feed"/>
    <preference for="SearchSpring\Feed\Api\Data\MediaGallerySpecificationInterface"
                type="SearchSpring\Feed\Model\Feed\Specification\MediaGallery"/>
    <preference for="SearchSpring\Feed\Api\TaskRepositoryInterface"
                type="SearchSpring\Feed\Model\TaskRepository"/>
    <preference for="SearchSpring\Feed\Api\CreateTaskInterface"
                type="SearchSpring\Feed\Model\CreateTask"/>
    <preference for="SearchSpring\Feed\Api\FetchTaskResultInterface"
                type="SearchSpring\Feed\Model\FetchTaskResult"/>
    <preference for="SearchSpring\Feed\Api\FeedRepositoryInterface"
                type="SearchSpring\Feed\Model\FeedRepository"/>
    <preference for="SearchSpring\Feed\Api\GenerateFeedInterface"
                type="SearchSpring\Feed\Model\GenerateFeed"/>
    <preference for="SearchSpring\Feed\Api\ExecutePendingTasksInterface"
                type="SearchSpring\Feed\Model\ExecutePendingTasks"/>
    <preference for="SearchSpring\Feed\Api\ExecuteTaskInterface"
                type="SearchSpring\Feed\Model\ExecuteTask"/>
    <preference for="SearchSpring\Feed\Api\GetStoresInfoInterface"
                type="SearchSpring\Feed\Model\GetStoresInfo"/>
    <preference for="SearchSpring\Feed\Model\Feed\SpecificationBuilderInterface"
                type="SearchSpring\Feed\Model\Feed\SpecificationBuilder"/>
    <preference for="SearchSpring\Feed\Model\Feed\CollectionProviderInterface"
                type="SearchSpring\Feed\Model\Feed\CollectionProvider"/>
    <preference for="SearchSpring\Feed\Model\Feed\CollectionConfigInterface"
                type="SearchSpring\Feed\Model\Feed\CollectionConfig"/>
    <preference for="SearchSpring\Feed\Model\Feed\StorageInterface"
                type="SearchSpring\Feed\Model\Feed\Storage"/>
    <preference for="SearchSpring\Feed\Model\Feed\ContextManagerInterface"
                type="SearchSpring\Feed\Model\Feed\ContextManager"/>
    <preference for="SearchSpring\Feed\Model\Feed\DataProvider\Stock\StockResolverInterface"
                type="SearchSpring\Feed\Model\Feed\DataProvider\Stock\CompositeStockResolver"/>

    <type name="SearchSpring\Feed\Model\Task\TypeList">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="feed_generation" xsi:type="string">Feed Generation</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Task\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="feed_generation" xsi:type="object">SearchSpringFeedTaskValidatorFeedGeneration</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Task\UniqueCheckerPool">
        <arguments>
            <argument name="checkers" xsi:type="array">
                <item name="feed_generation" xsi:type="object">SearchSpring\Feed\Model\Task\GenerateFeed\UniqueChecker</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="SearchSpringFeedTaskValidatorFeedGeneration" type="SearchSpring\Feed\Model\Task\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="store" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Task\Validator\StoreValidator</item>
                </item>
                <item name="bool" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpringFeedTaskValidatorFeedGenerationBool</item>
                </item>
                <item name="int" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpringFeedTaskValidatorFeedGenerationInt</item>
                </item>
                <item name="customer_id" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Task\Validator\CustomerValidator</item>
                </item>
                <item name="format" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\Validator\FormatValidator</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SearchSpringFeedTaskValidatorFeedGenerationBool" type="SearchSpring\Feed\Model\Task\Validator\BoolValidator">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="includeMenuCategories" xsi:type="string">includeMenuCategories</item>
                <item name="keepAspectRatio" xsi:type="string">keepAspectRatio</item>
                <item name="includeUrlHierarchy" xsi:type="string">includeUrlHierarchy</item>
                <item name="includeJSONConfig" xsi:type="string">includeJSONConfig</item>
                <item name="includeChildPrices" xsi:type="string">includeChildPrices</item>
                <item name="includeTierPricing" xsi:type="string">includeTierPricing</item>
                <item name="includeMediaGallery" xsi:type="string">includeMediaGallery</item>
                <item name="includeOutOfStock" xsi:type="string">includeOutOfStock</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SearchSpringFeedTaskValidatorFeedGenerationInt" type="SearchSpring\Feed\Model\Task\Validator\IntValidator">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="thumbWidth" xsi:type="string">thumbWidth</item>
                <item name="thumbHeight" xsi:type="string">thumbHeight</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="SearchSpring\Feed\Model\Feed\CollectionProvider">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="store" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\StoreModifier</item>
                <item name="status" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\StatusModifier</item>
                <item name="visibility" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\VisibilityModifier</item>
                <item name="stock" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\StockModifier</item>
                <item name="attributes" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\AttributesModifier</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Task\ExecutorPool">
        <arguments>
            <argument name="executors" xsi:type="array">
                <item name="feed_generation" xsi:type="object">SearchSpring\Feed\Model\Task\GenerateFeed\Executor</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\Storage\WriterPool">
        <arguments>
            <argument name="writers" xsi:type="array">
                <item name="csv" xsi:type="object">SearchSpring\Feed\Model\Feed\Storage\Writer\Csv</item>
                <item name="json" xsi:type="object">SearchSpring\Feed\Model\Feed\Storage\Writer\Json</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\Storage\FormatterPool">
        <arguments>
            <argument name="formatters" xsi:type="array">
                <item name="csv" xsi:type="object">SearchSpring\Feed\Model\Feed\Storage\Formatter\Csv</item>
                <item name="json" xsi:type="object">SearchSpring\Feed\Model\Feed\Storage\Formatter\Json</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Task\ResultFetcherPool">
        <arguments>
            <argument name="fetchers" xsi:type="array">
                <item name="feed_generation" xsi:type="object">SearchSpring\Feed\Model\Task\GenerateFeed\ResultFetcher</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\DataProviderPool">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="__all_attributes__" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\AttributesProvider</item>
                <item name="prices" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\PricesProvider</item>
                <item name="stock" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\StockProvider</item>
                <item name="saleable" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\SaleableProvider</item>
                <item name="url" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\UrlProvider</item>
                <item name="__rating__" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\RatingProvider</item>
                <item name="__categories__" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\CategoriesProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\DataProvider\Stock\CompositeStockResolver">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="msi" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">100</item>
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\Stock\MsiStockResolver</item>
                </item>
                <item name="legacy" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">1000</item>
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\Stock\LegacyStockResolver</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\ContextManager">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="store" xsi:type="object">SearchSpring\Feed\Model\Feed\Context\StoreContextManager</item>
                <item name="customer" xsi:type="object">SearchSpring\Feed\Model\Feed\Context\CustomerContextManager</item>
            </argument>
        </arguments>
    </type>
</config>
