<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SearchSpring\Feed\Api\Data\TaskResultInterface"
                type="SearchSpring\Feed\Model\Data\TaskResult"/>
    <preference for="SearchSpring\Feed\Api\Data\TaskInterface"
                type="SearchSpring\Feed\Model\Task"/>
    <preference for="SearchSpring\Feed\Api\Data\TaskErrorInterface"
                type="SearchSpring\Feed\Model\Data\TaskError"/>
    <preference for="SearchSpring\Feed\Api\Data\TaskSearchResultsInterface"
                type="SearchSpring\Feed\Model\TaskSearchResults"/>
    <preference for="SearchSpring\Feed\Api\Data\FeedSpecificationInterface"
                type="SearchSpring\Feed\Model\Feed\Specification\Feed"/>
    <preference for="SearchSpring\Feed\Api\Data\MediaGallerySpecificationInterface"
                type="SearchSpring\Feed\Model\Feed\Specification\MediaGallery"/>
    <preference for="SearchSpring\Feed\Api\Data\CustomersInterface"
                type="SearchSpring\Feed\Model\Customers"/>
    <preference for="SearchSpring\Feed\Api\Data\CustomersDataInterface"
                type="SearchSpring\Feed\Model\CustomersData"/>
    <preference for="SearchSpring\Feed\Api\Data\SalesInterface"
                type="SearchSpring\Feed\Model\Sales"/>
    <preference for="SearchSpring\Feed\Api\Data\SalesDataInterface"
                type="SearchSpring\Feed\Model\SalesData"/>
    <preference for="SearchSpring\Feed\Api\TaskRepositoryInterface"
                type="SearchSpring\Feed\Model\TaskRepository"/>
    <preference for="SearchSpring\Feed\Api\CreateTaskInterface"
                type="SearchSpring\Feed\Model\CreateTask"/>
    <preference for="SearchSpring\Feed\Api\GenerateFeedInterface"
                type="SearchSpring\Feed\Model\GenerateFeed"/>
    <preference for="SearchSpring\Feed\Api\ExecutePendingTasksInterface"
                type="SearchSpring\Feed\Model\ExecutePendingTasks"/>
    <preference for="SearchSpring\Feed\Api\GetVersionInterface"
                type="SearchSpring\Feed\Model\GetVersion"/>
    <preference for="SearchSpring\Feed\Api\GetApplicationLogInterface"
                type="SearchSpring\Feed\Model\GetApplicationLog"/>
    <preference for="SearchSpring\Feed\Api\GetCustomersInterface"
                type="SearchSpring\Feed\Model\GetCustomers"/>
    <preference for="SearchSpring\Feed\Api\GetSalesInterface"
                type="SearchSpring\Feed\Model\GetSales"/>
    <preference for="SearchSpring\Feed\Api\ExecuteTaskInterface"
                type="SearchSpring\Feed\Model\ExecuteTask"/>
    <preference for="SearchSpring\Feed\Api\GetStoresInfoInterface"
                type="SearchSpring\Feed\Model\GetStoresInfo"/>
    <preference for="SearchSpring\Feed\Api\AppConfigInterface"
                type="SearchSpring\Feed\Model\AppConfig"/>
    <preference for="SearchSpring\Feed\Model\Metric\CollectorInterface"
                type="SearchSpring\Feed\Model\Metric\Collector"/>
    <preference for="SearchSpring\Feed\Model\Metric\OutputInterface"
                type="SearchSpring\Feed\Model\Metric\Output\LogOutput"/>
    <preference for="SearchSpring\Feed\Model\Metric\View\FormatterInterface"
                type="SearchSpring\Feed\Model\Metric\View\DefaultFormatter"/>
    <preference for="SearchSpring\Feed\Model\Feed\SpecificationBuilderInterface"
                type="SearchSpring\Feed\Model\Feed\SpecificationBuilder"/>
    <preference for="SearchSpring\Feed\Model\Feed\CollectionProviderInterface"
                type="SearchSpring\Feed\Model\Feed\CollectionProvider"/>
    <preference for="SearchSpring\Feed\Model\Feed\CollectionConfigInterface"
                type="SearchSpring\Feed\Model\Feed\CollectionConfig"/>
    <preference for="SearchSpring\Feed\Model\Feed\StorageInterface"
                type="SearchSpring\Feed\Model\Feed\Storage\PreSignedUrlStorage"/>
    <preference for="SearchSpring\Feed\Model\Feed\ContextManagerInterface"
                type="SearchSpring\Feed\Model\Feed\ContextManager"/>
    <preference for="SearchSpring\Feed\Model\Feed\DataProvider\Stock\StockResolverInterface"
                type="SearchSpring\Feed\Model\Feed\DataProvider\Stock\CompositeStockResolver"/>
    <preference for="SearchSpring\Feed\Model\Feed\DataProvider\Price\ProviderResolverInterface"
                type="SearchSpring\Feed\Model\Feed\DataProvider\Price\ProviderResolver"/>
    <preference for="SearchSpring\Feed\Model\Feed\DataProvider\Attribute\AttributesProviderInterface"
                type="SearchSpring\Feed\Model\Feed\DataProvider\Attribute\FeedAttributesProvider"/>
    <preference for="SearchSpring\Feed\Model\Webapi\ExceptionConverterInterface"
                type="SearchSpring\Feed\Model\Webapi\DefaultExceptionConverter"/>
    <preference for="SearchSpring\Feed\Model\Aws\Client\ClientInterface"
                type="SearchSpring\Feed\Model\Aws\Client\Client"/>
    <preference for="SearchSpring\Feed\Model\Aws\Client\ResponseInterface"
                type="SearchSpring\Feed\Model\Aws\Client\Response"/>
    <preference for="SearchSpring\Feed\Api\CategoryInfoInterface"
                type="SearchSpring\Feed\Model\CategoryInfo"/>

    <type name="SearchSpring\Feed\Model\Task\TypeList">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="feed_generation" xsi:type="string">Feed Generation</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Helper\LogInfo">
        <arguments>
            <argument name="directoryList" xsi:type="object">Magento\Framework\Filesystem\DirectoryList</argument>
        </arguments>
    </type>


    <type name="SearchSpring\Feed\Model\Task\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="feed_generation" xsi:type="object">SearchSpringFeedTaskValidatorFeedGeneration</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Task\UniqueCheckerPool">
        <arguments>
            <argument name="checkers" xsi:type="array">
                <item name="feed_generation" xsi:type="object">SearchSpring\Feed\Model\Task\GenerateFeed\UniqueChecker</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="SearchSpringFeedTaskValidatorFeedGeneration" type="SearchSpring\Feed\Model\Task\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="store" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Task\Validator\StoreValidator</item>
                </item>
                <item name="not_empty" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpringFeedTaskValidatorFeedGenerationNotEmpty</item>
                </item>
                <item name="url_required" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpringFeedTaskValidatorFeedGenerationUrlRequired</item>
                </item>
                <item name="bool" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpringFeedTaskValidatorFeedGenerationBool</item>
                </item>
                <item name="int" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpringFeedTaskValidatorFeedGenerationInt</item>
                </item>
                <item name="customer_id" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Task\Validator\CustomerValidator</item>
                </item>
                <item name="format" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\Validator\FormatValidator</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SearchSpringFeedTaskValidatorFeedGenerationNotEmpty" type="SearchSpring\Feed\Model\Task\Validator\NotEmptyValidator">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="preSignedUrl" xsi:type="string">preSignedUrl</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SearchSpringFeedTaskValidatorFeedGenerationUrlRequired" type="SearchSpring\Feed\Model\Task\Validator\UrlValidator">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="preSignedUrl" xsi:type="string">preSignedUrl</item>
            </argument>
            <argument name="fieldRequired" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>

    <virtualType name="SearchSpringFeedTaskValidatorFeedGenerationBool" type="SearchSpring\Feed\Model\Task\Validator\BoolValidator">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="includeMenuCategories" xsi:type="string">includeMenuCategories</item>
                <item name="keepAspectRatio" xsi:type="string">keepAspectRatio</item>
                <item name="includeUrlHierarchy" xsi:type="string">includeUrlHierarchy</item>
                <item name="includeJSONConfig" xsi:type="string">includeJSONConfig</item>
                <item name="includeChildPrices" xsi:type="string">includeChildPrices</item>
                <item name="includeTierPricing" xsi:type="string">includeTierPricing</item>
                <item name="includeMediaGallery" xsi:type="string">includeMediaGallery</item>
                <item name="includeOutOfStock" xsi:type="string">includeOutOfStock</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SearchSpringFeedTaskValidatorFeedGenerationInt" type="SearchSpring\Feed\Model\Task\Validator\IntValidator">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="thumbWidth" xsi:type="string">thumbWidth</item>
                <item name="thumbHeight" xsi:type="string">thumbHeight</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="SearchSpring\Feed\Model\Feed\CollectionProvider">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="store" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\StoreModifier</item>
                    <item name="sortOrder" xsi:type="number">100</item>
                </item>
                <item name="status" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\StatusModifier</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
                <item name="visibility" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\VisibilityModifier</item>
                    <item name="sortOrder" xsi:type="number">300</item>
                </item>
                <item name="stock" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\StockModifier</item>
                    <item name="sortOrder" xsi:type="number">400</item>
                </item>
                <item name="attributes" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\AttributesModifier</item>
                    <item name="sortOrder" xsi:type="number">500</item>
                </item>
                <item name="price" xsi:type="array">
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\PricesModifier</item>
                    <item name="sortOrder" xsi:type="number">600</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Task\ExecutorPool">
        <arguments>
            <argument name="executors" xsi:type="array">
                <item name="feed_generation" xsi:type="object">SearchSpring\Feed\Model\Task\GenerateFeed\Executor</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\Storage\FormatterPool">
        <arguments>
            <argument name="formatters" xsi:type="array">
                <item name="csv" xsi:type="object">SearchSpring\Feed\Model\Feed\Storage\Formatter\Csv</item>
                <item name="json" xsi:type="object">SearchSpring\Feed\Model\Feed\Storage\Formatter\Json</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\Storage\File\FileFactory">
        <arguments>
<!--            <argument name="fileClassPool" xsi:type="array">-->
                <argument  name="csvFile" xsi:type="object">SearchSpring\Feed\Model\Feed\Storage\File\Csv</argument>
                <argument  name="jsonFile" xsi:type="object">SearchSpring\Feed\Model\Feed\Storage\File\Json</argument>
<!--            </argument>-->
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\DataProviderPool">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="__all_attributes__" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\AttributesProvider</item>
                <item name="__configurable_child__" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\ConfigurableProductsProvider</item>
                <item name="__grouped_child__" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\GroupedProductsProvider</item>
                <item name="prices" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\PricesProvider</item>
                <item name="stock" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\StockProvider</item>
                <item name="saleable" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\SaleableProvider</item>
                <item name="url" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\UrlProvider</item>
                <item name="__rating__" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\RatingProvider</item>
                <item name="__categories__" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\CategoriesProvider</item>
                <item name="options" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\OptionsProvider</item>
                <item name="__media_gallery__" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\MediaGalleryProvider</item>
                <item name="__json_config__" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\JsonConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\DataProvider\Stock\CompositeStockResolver">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="msi" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">100</item>
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\Stock\MsiStockResolver</item>
                </item>
                <item name="legacy" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">1000</item>
                    <item name="objectInstance" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\Stock\LegacyStockResolver</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\DataProvider\Price\ProviderResolver">
        <arguments>
            <argument name="priceProviders" xsi:type="array">
                <item name="configurable" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\Price\ConfigurablePriceProvider</item>
            </argument>
            <argument name="basePriceProvider" xsi:type="object">SearchSpring\Feed\Model\Feed\DataProvider\Price\BasePriceProvider</argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\ContextManager">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="store" xsi:type="object">SearchSpring\Feed\Model\Feed\Context\StoreContextManager</item>
                <item name="customer" xsi:type="object">SearchSpring\Feed\Model\Feed\Context\CustomerContextManager</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\GenerateFeed">
        <arguments>
            <argument name="afterLoadProcessorPool" xsi:type="object">SearchSpringFeedGenerateFeedAfterLoadCollectionProcessorPool</argument>
        </arguments>
    </type>

    <virtualType name="SearchSpringFeedGenerateFeedAfterLoadCollectionProcessorPool" type="SearchSpring\Feed\Model\Feed\Collection\ProcessorPool">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="media_gallery" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\MediaGalleryProcessor</item>
                <item name="tier_price" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\TierPriceProcessor</item>
                <item name="url" xsi:type="object">SearchSpring\Feed\Model\Feed\Collection\UrlProcessor</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SearchSpringFeedBaseLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/searchspring_feed.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="SearchSpringFeedSystemLogHandler" type="Magento\Framework\Logger\Handler\System">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/searchspring_feed.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="SearchSpringFeedLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">SearchSpringFeedBaseLogHandler</item>
                <item name="system" xsi:type="object">SearchSpringFeedSystemLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="SearchSpring\Feed\Model\ExecutePendingTasks">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringFeedLogger</argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\ExecuteTask">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringFeedLogger</argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Feed\DataProvider\Product\GetChildCollection">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringFeedLogger</argument>
        </arguments>
    </type>

    <virtualType name="SearchSpringFeedGenerateFeedConfigurableChildStorage" type="SearchSpring\Feed\Model\Feed\DataProvider\Product\ChildStorage" />

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="SearchSpringFeedExecutePendingTasks" xsi:type="object">SearchSpring\Feed\Console\Command\ExecutePendingTasks\Proxy</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Console\Command\ExecutePendingTasks">
        <arguments>
            <argument name="state" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="cliOutput" xsi:type="object">SearchSpring\Feed\Model\Metric\Output\CliOutput\Proxy</argument>
            <argument name="metricCollector" xsi:type="object">SearchSpring\Feed\Model\Metric\CollectorInterface\Proxy</argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Metric\Collector">
        <arguments>
            <argument name="metricProviders" xsi:type="array">
                <item name="product_feed" xsi:type="array">
                    <item name="time" xsi:type="object">SearchSpring\Feed\Model\Metric\MetricProvider\TimeProvider</item>
                    <item name="timer" xsi:type="object">SearchSpring\Feed\Model\Metric\MetricProvider\TimerProvider</item>
                    <item name="memory" xsi:type="object">SearchSpring\Feed\Model\Metric\MetricProvider\MemoryProvider</item>
                    <item name="file_size" xsi:type="object">SearchSpring\Feed\Model\Metric\MetricProvider\FileSizeProvider</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Model\Metric\MetricProvider\TimerProvider" shared="false" />
    <type name="SearchSpring\Feed\Model\Metric\MetricProvider\FileSizeProvider" shared="false" />
</config>
