<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Reflection\DataObjectProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="SearchSpring\Feed\Model\Task" xsi:type="object">SearchSpring\Feed\Model\Task\Webapi\TaskOutputProcessor\Proxy</item>
                <item name="SearchSpring\Feed\Model\Data\TaskResult" xsi:type="object">SearchSpring\Feed\Model\Task\Webapi\TaskResultOutputProcessor\Proxy</item>
            </argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Api\CreateTaskInterface">
        <plugin name="SearchSpring_Feed::convert_exceptions" type="SearchSpring\Feed\Plugin\Rest\CreateTaskConvertException"/>
    </type>

    <type name="SearchSpring\Feed\Api\TaskRepositoryInterface">
        <plugin name="SearchSpring_Feed::convert_exceptions" type="SearchSpring\Feed\Plugin\Rest\GetTaskConvertException"/>
    </type>

    <type name="SearchSpring\Feed\Api\GetStoresInfoInterface">
        <plugin name="SearchSpring_Feed::convert_exceptions" type="SearchSpring\Feed\Plugin\Rest\GetStoreInfoConvertException"/>
    </type>

    <type name="SearchSpring\Feed\Api\FetchTaskResultInterface">
        <plugin name="SearchSpring_Feed::convert_exceptions" type="SearchSpring\Feed\Plugin\Rest\FetchTaskResultConvertException"/>
    </type>

    <type name="SearchSpring\Feed\Plugin\Rest\CreateTaskConvertException">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringFeedLogger</argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Plugin\Rest\GetTaskConvertException">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringFeedLogger</argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Plugin\Rest\GetStoreInfoConvertException">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringFeedLogger</argument>
        </arguments>
    </type>

    <type name="SearchSpring\Feed\Plugin\Rest\FetchTaskResultConvertException">
        <arguments>
            <argument name="logger" xsi:type="object">SearchSpringFeedLogger</argument>
        </arguments>
    </type>
</config>
