<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Reflection\DataObjectProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="SearchSpring\Feed\Model\Task" xsi:type="object">SearchSpring\Feed\Model\Task\Webapi\TaskOutputProcessor\Proxy</item>
                <item name="SearchSpring\Feed\Model\Data\TaskResult" xsi:type="object">SearchSpring\Feed\Model\Task\Webapi\TaskResultOutputProcessor\Proxy</item>
            </argument>
        </arguments>
    </type>
</config>
